ol{
    margin: 0 0 0 0 !important;
}
.cadre1{
  background-color: blue;
  padding-top: 16px;
}
.cadre2{
  background-color: purple;
  padding-top: 16px;
}
.cadre3{
  background-color: crimson;
  padding-top: 16px;
}
.cadre1div{
  background-color: blue;
  margin-left: 20px;
  width: 111px;
}
.cadre2div{
  background-color: purple;
  margin-left: 20px;
  width: 164px;
}
.cadre3div{
  background-color: crimson;
  margin-left: 20px;
  width: 216px;
}
.fieldset1{
  border: 0;
  background-color: blue;
}
.fieldset2{
  border: 0;
  background-color: purple;
}
.fieldset3{
  border: 0;
  background-color: crimson;
}
input{
  border: 1px solid black;
}
